.restaurants-list article.card {
  @include shadows(map-get($shadow-percentage, medium), true);

  a {
    //Container
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;

    .card-label {
      align-items: center;

      label {
        margin: 0 24px 0 12px;
      }
    }
  }

  .like-button {
    position: absolute;
    right: 24px;
    bottom: 31px;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  label {
    i {
      color: map-get($grey-levels, medium-dark);
    }
  }
}
