.button {
  @include shadows(25%);

  cursor: pointer;

  padding: 15px 22px;
  border-radius: 30px;
  border: none;

  font-weight: medium;
  font-size: 15px;

  color: white;

  transition: all 600ms ease;

  background: $color-primary;
  background: $gradient-primary;

  background-size: 100% 100%;
  background-position: 50% 50%;

  &:hover,
  &:focus {
    background-position: 0% 0%;
    background-size: 400% 400%;
  }

  &:visited {
    color: white;
  }

  &:focus {
    outline-color: black;
  }
}
