.like-button {
  input {
    opacity: 0;
    position: absolute;
    left: -9999px;

    + label {
      filter: drop-shadow(0 0 1px black);
      cursor: pointer;

      i {
        font-size: 20px;
        color: white;
      }
    }
      }
    }

      }
    }
