.menu-select article.card {
  @include shadows(map-get($shadow-percentage, medium), true);

  margin-bottom: 0;

  .card-label {
    flex-direction: row;
    align-items: flex-end;
    flex-grow: 2;

    &__title,
    &__price {
.menu-select > * {
  @include cardAnimation(
    $iteration: 16,
    $exception:  true,
    $exceptionSelector: "article",
    $exceptionDuration: 0.5s
  );
}
}
