.skip-to-content {
  padding: 6px;
  position: absolute;
  top: 5px;
  left: 5px;
  color: #0065fc;
  border: 1px solid #0065fc;
  z-index: -999;
  opacity: 0;
  pointer-events: none;

  &:focus {
    opacity: 100%;
  }
}
