@mixin shadows($shadow-percentage) {
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.13), 0 2px 12px rgba(0, 0, 0, 0.06);
}

@mixin display() {
  padding: 53px 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > * {
    max-width: $max-width;
    width: 100%;
  }
}

@mixin visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  &:hover,
  &:focus {
    clip: auto;
    height: auto;
    overflow: auto;
    position: absolute;
    width: auto;
  }
}
